Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/public/

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_headers.c>
    Header always set X-Content-Type-Options "nosniff"
    Header always set Cache-Control "no-store, no-cache, must-revalidate"
</IfModule>
